* {
  padding: 0em;
  margin: 0em;
}

html {
  background-image: url('../img/newspaper-texture.jpeg');
  background-color: white;
  width: 100%;
}

body{
  background-color: white;
  max-width: 1400px;
  width: auto;
  margin: auto;
  font-family: 'Eugenio Text',Georgia,Times,'Times New Roman',serif;
}



/*HOME PAGE + HEADER E FOOTER*/
/* Add a black background color to the top navigation */

header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #0d719d;
  /*background-image: linear-gradient(to right bottom, #0d719d, #d8e7ed);*/
  /*background-image: linear-gradient(to right bottom, #828282, #d1d1d1);*/
  z-index: 1;
}

#logo {
  max-width: 9em;
  margin-left: 2em;
  /*margin-right: auto;*/
}

.user_img {
  width: 48px;
  height: 48px;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

header nav ul{
    /*list-style: none;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: 2em;
}

header nav ul li{
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px;
  text-align: center;
  border: solid 1px;
  background-color: white /*#f7f7f7*/;
  opacity: 0.96;
  transform: skew(-20deg);
}

header nav ul li:hover {
  background-color: #ccc;
}

header nav li a{
  display: block;
  transform: skew(20deg);
  padding: 0.8em;
  transition: all 0.3s ease 0s;
}

#search_bar {
  padding: 0.8em 0;
  border: none;
}

#search_button {
  padding: 0.8em 1em;
  border: none;
}

#search_button:hover {
  background:  #ccc;
}

/*nav li a:hover{
  scale: 1.2;
}*/

#user_desk{
  margin: 0 2em 0 1em;
}

#user_mob{
  display: none;
  margin: 0 1em 0 2em;
}

header a.icon{
  display: none;
  /*float: left;*/
  color: #f2f2f2;
  text-align: center;
  /*font-size: 17px;*/
  /*margin: 0 2em 0 1em;*/
}


.mob_srch {
  display: none;
}

.mob_nav {
  display: none;
}

.mob_buttons_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 0 1em 0 1em;
}

.mob_buttons_wrapper a{
  padding: 0.5em 0;
}

.search_link {
  border-right: solid 1px lightgrey;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 870px) {
  header nav {
      display: none;
  }

  #user_desk {
    display: none;
  }
  #user_mob {
    display: block;
    float: left;
  }

  header a.icon {
    /*float: right;*/
    display: block;
    width: 48px;
    text-align: center center;
    margin-left: 0
  }

  header form {
    display: none;
  }

  /*header{
    justify-content: space-between;
  }*/

  /*#logo{
    margin: auto;
  }*/


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 870px) {
  .responsive {
      display: flex;
      width: 100%;
  }
  .responsive nav {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
    border-top: solid 1px #0d719d;
    border-bottom: solid 1px #0d719d;
  }

  .responsive nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*position: absolute;
    top: 6em;
    right: 0em;*/
    background-color: white /*#0d719d*/;
    opacity: 0.98;
  }

  .responsive ul li{
    display: inline-block;
    padding: 1em;
    transform: skew(0);
    border: solid 1px #0d719d;
  }

  .responsive li a {
    transform: skew(0);
  }
}

@media screen and (max-width: 870px) {
  .resp_srch{
    position: relative;
    display: flex;
  }

  .resp_srch form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: solid 1px grey;
    background: black;
  }


  .resp_srch #search_bar_mobile {
      width: 100%;
      border: none;
  }

}


h1 {
  text-align: center;
  margin: 1em 0 0 0;
  font-size: 2em;
}

.home_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*font-family: 'Eugenio Text',Georgia,Times,'Times New Roman',serif;*/
  font-size: 1.3em;
}

.home_content .articoli {
  margin: 1em;
  width: 1220px;
}

article {
  display: flex;
  background-color: white;
  border: solid 1px grey;
  /*border-radius: 12px;*/
  padding: 1em;
  margin-top: 1em;
  flex-direction: column;
}

article h3 {
  padding-bottom: 1em;
}

article img {
  width: 30%;
  position: relative;
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}

article a {
  width: inherit;
}

article #mobile_img {
  display: none;
}

@media screen and (max-width: 1024px) {
  article img {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .articoli {
    margin: 2em;
  }

  article {
    /*border: solid 0px;*/
    border-radius: 15px;
  }

  article img {
    display: none;
  }

  article #mobile_img {
    display: block;
    position: relative;
    width: 100%;
  }

  aside{
    display: none;
  }
}

aside {
  background-color: white;
  border: solid 1px grey;
  /*border-radius: 12px;*/
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
  width: 440px;
  min-height: 600px;
}

footer {
  background-color: #0d719d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 1em;
  order: 2;
  padding: 1em;
  font-size: 0.8em;
  margin-top: auto;
}

#address {
  flex-grow: 5;
  flex-shrink: 2;
  margin: 2em;
}

#html5 {
  order: -1;
  align-self: center;
}

#cssLogo {
  order: 2;
  align-self: center;
}


/*  FORM SCRITTURA ARTICOLO  */
.form_articolo {
  display: flex;
  flex-direction: column;
  margin: 0 3em 1em 3em;
}

.form_articolo > h1 {
  margin-left: -.5em;
}

.form_articolo > p {
  font-size: 1.3em;
  margin-bottom: 2em;
}

.form_articolo > input {
  width: 99%;
  margin-top: 0.5em;
  margin-bottom: 2.3em;
}

.form_articolo > textarea {
  min-height: 15em;
  min-width: 100%;
  max-width: 100%;
  max-height: 90em;
  margin-top: 0.5em;
  margin-bottom: 2.3em;
}

.cat_img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_sel{
    display: flex;
    flex-direction: column;
}

.img_sel > input {
  margin-top: 0.5em;
}

.cat_sel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cat_sel p {
  margin-bottom: 0.3em;
}

.element {
  margin-top: 0.2em;
}

.form_articolo > button {
  margin-top: 3em;
  width: 100px;
  height: 44px;
}

@media screen and (max-width: 764px) {
  .cat_img {
    display: flex;
    flex-direction: column;
  }

  .cat_sel{
      align-items: flex-start;
      margin-top: 1em;
  }
}

/*  FORM ADMIN  */
.alt_insert{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.alt_insert input {
  width: 99%;
}


/*  CSS PAGINA CATEGORIE  */
.cat_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 2em;
  padding-right: 0em;
  padding-bottom: 0em;
}

.cat_page a {
  display: inline-block;
  padding-top: 6.53%;
  padding-bottom: 6.53%;
  width: 29.9%;
  font-size: 2em;
  font-weight: bolder;
  border: solid 1px;
  border-color: grey;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 1em;
  background-size: cover;
}

.cat_page #sport {
  background-image: url("../img/sport_cat.jpeg");
}

.cat_page #politica {
  background-image: url("../img/politics_cat.png")
}

.cat_page #covid {
  background-image: url("../img/covid_cat.jpeg");
}

.cat_page #economia {
  background-image: url("../img/economy_cat.jpeg");
}

.cat_page #spettacolo {
  background-image: url("../img/spett_cat.jpeg");
}

.cat_page #gossip {
  background-image: url("../img/gossip_cat.jpeg");
}

.cat_page #scienze {
  background-image: url("../img/science_cat.jpeg");
}

.cat_page #mondo {
  background-image: url("../img/world_cat.jpeg");
}

@media screen and (max-width: 1024px){
  .cat_page{
    padding: 1em;
  }
  .cat_page a {
    font-size: 1.2em;
    padding-top: 10%;
    padding-bottom: 9%;
    width: 45%;
    margin-right: 0em;
    min-width: 164px;
  }
}

/* GENERIC PAGE ARTICOLO*/
.printArticolo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upperPrint {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px;
  padding: 0 3em 3em 3em;
  margin-top: 3em;
}

.upperPrint img {
  order: 2;
  width: 40%;
  margin-left: 2em;
}

.upperPrint h1 {
  text-align: left;
}

.printArticolo p {
  padding: 0 3em 1em 3em;
}

.info_art {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: solid 1px;
  border-bottom: solid 1px;
  height: 40px;
  align-items: center;
}

.info_art #author {
  display: flex;
  width: 45%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.info_art #get_cat {
  display: flex;
  width: 45%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-weight: bold;
  color: #03bafc;
}

.info_art img{
  margin-left: 1em;
}

.info_art p {
  margin: 0 1em 0 1em;
}

.commentArea {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 1em 2.5em 1em 2.5em;
  padding: 0.5em 0.5em 0 0.5em;
  border: solid 0px;
  border-radius: 12px;
  background-color: rgba(13, 113, 157, 0.3);
}

.commentArea #print_comm{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 1em;
  padding: 0.5em;
}

.commentArea #print_comm img{
  width: 48px;
  height: 48px;
  margin-right: 2em;
}

.commentArea form {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  padding: 0.5em;
  justify-content: space-between;
}

.commentArea form img {
  width: 48px;
  height: 48px;
  margin-right: 2em;
}

.commentArea #print_comm p {
  padding: 0.5em;
  border: solid 0px;
  background-color: white;
  width: 90%;
}

.commentArea #insert_comment {
  padding: 0.5em;
  min-width: 95%;
  max-width: 95%;
  min-height: 6em;
  max-height: 6em;
  margin-bottom: 0.5em;
}

.commentArea button {
  width: 90px;
  height: 30px;
}

.comm_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* LOGIN */

#short_html{
  height: 100%;
}

#short_body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


#wrapper_login{
  display: flex;
  justify-content: center;
  padding: 20vh 0;
}

.box{
  flex: 0.25;
  width: 20em;
  padding: 3em;
  border: 3px solid #3d3d3d;
  text-align: center;
  border-radius: 36px;
}

.box h1{
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.box input[type="text"], .box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3d3d3d;
  border-radius: 24px;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
  width: 280px;
  border-color: #00b3b3;
}

.box input[type="text"]:hover, .box input[type="password"]:hover{
  border-color: #00b3b3;
}

.box input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #00b3b3;
  border-radius: 24px;
  padding: 14px 40px;
  outline: none;
  color: black;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover{
  background-color: #3d3d3d;
  color: #f2f2f2;
}

/*  FILTER PAGE */

.home_content_filter .articoli {
  margin: 1em;
}

/* USER/ADMIN PAGE */

.row{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2em;
}

.col{
  padding-top: 2em;
  margin: 1em;
}

.admin{
  flex-basis: 20%;
}

.user{
  flex-basis: 25%;
}

.col ul{
  list-style: none;
}

.col img{
  max-width: 8em;
  max-height: 8em;
}

#pw_reset input{
  margin: 1em;
  padding: 0.5em;
}