* {
  padding: 0em;
  margin: 0em;
}

.hFlex {
  display: flex;
}

.vFlex {
  display: flex;
  flex-direction: column;
}

html {
  background-image: url('../img/Wrinkled-Paper-Texture.jpeg');
  background-color: white;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  max-width: 1400px;
  width: auto;
  margin: auto;
  font-family: 'Eugenio Text',Georgia,Times,'Times New Roman',serif;
  min-height: 100%;
}

/*HOME PAGE + HEADER E FOOTER*/
header {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #0d719d;
  z-index: 1;
}

#logo {
  max-width: 9em;
  margin-left: 1em;
}

.user_img {
  width: 60px;
  height: 60px;
}

header nav {
  align-items: center;
  margin-right: -3em;
}

header nav ul {
    justify-content: space-around;
    margin-right: 2em;
}

header nav ul li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  text-align: center;
  border: solid 1px;
  background-color: white;
  opacity: 0.96;
  transform: skew(-20deg);
}

header nav ul li:hover {
  background-color: azure;
}

header nav li a {
  display: block;
  transition: all 0.3s ease 0s;
}

header nav li a div {
  transform: skew(20deg);
  padding: 0.8em;
}

nav #currentItem {
  background-color: lightgrey;
  background-clip: padding-box;
}

#currentLink {
  display: block;
  padding: 0.8em;
  color: #9a0606;
  font-weight: bold;
}

#currentLink div {
  transform: skew(20deg);
}

.right_section {
  justify-content: space-between;
}

#search_bar {
  padding: 0.8em 0 0.8em 1em;
  border: none;
}

#search_button {
  padding: 0.8em 1em;
  border: none;
}

#search_button:hover {
  background:  #ccc;
}

.search_link {
  margin-left: 1em;
}

#user_desk {
  margin-right: 0.5em;
  border-radius: 50%;
}

#user_mob {
  display: none;
  margin-left: 1em;
  border-radius: 50%;
}

.user_cont {
  position: relative;
  margin-right: 1em;
  align-items: center;
  justify-content: flex-end;
}

.logout_cont {
  background: white;
  margin-right: 30px;
  border: solid 1px black;
  transform: skew(-20deg);
  text-align: right;
  padding: 0.1em 45px 0.1em 0.5em;
}

.logout_cont > #currentLink {
  transform: skew(20deg);
  padding: 0;
}

.logout_cont > a {
  display: block;
  transform: skew(20deg);
}

.logout_cont > #exit {
  margin-top: .2em;
}

.user_cont > a {
  background: white;
  padding: 0.8em 45px 0.8em 0.5em;
  margin-right: 30px;
  border: solid 1px black;
  transform: skew(-20deg);
}

.user_cont > a > div {
  transform: skew(20deg);
}

.user_cont > #currentLink {
  background: lightgrey !important;
  padding: 0.8em 50px 0.8em 0.5em;
  margin-right: 24px;
  border: solid 1px black;
  transform: skew(-20deg);
}

.user_cont #currentItem {
  background-color: none !important;
}

.user_cont > #currentLink > div {
  transform: skew(20deg);
}

.user_cont > img {
  position: absolute;
  right: 0;
}

header a.icon {
  display: none;
  color: #f2f2f2;
  text-align: center;
}

.mob_srch {
  height: 0px;
  display: none;
}

.mob_nav {
  display: none;
}

.mob_buttons_wrapper {
  position: absolute;
  justify-content: flex-end;
  margin-right: 1em;
}

.mob_buttons_wrapper a {
  padding: 0.5em 0;
}

.txt_link {
  border-left: solid 1px lightgrey;
}

#wrapper {
    padding: 1em 3em 1em 3em;
}

h1 {
  text-align: center;
  font-size: 2em;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px #0d719d;
}

.home_content {
  justify-content: space-between;
  font-size: 1.3em;
}

.home_content .articoli {
  margin-right: 1em;
  width: 1220px;
}

article {
  background-color: white;
  -moz-box-shadow:    0 3px 5px 3px #ccc;
  -webkit-box-shadow: 0 3px 5px 3px #ccc;
  box-shadow:         0 3px 5px 3px #ccc;
  padding: 1em;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

article div {
  width: 65%;
}

article > img {
  width: 30%;
  margin: auto;
  padding-right: 5%;
  padding-bottom: 1em;
}

article a {
  width: inherit;
}

article footer img {
  width: 1em;
  height: 1em;
}

aside {
  background-color: white;
  -moz-box-shadow:    0 3px 5px 3px #ccc;
  -webkit-box-shadow: 0 3px 5px 3px #ccc;
  box-shadow:         0 3px 5px 3px #ccc;
  padding: 1em;
  width: 440px;
  height: fit-content;
}

footer {
  background-color: #0d719d;
  justify-content: space-between;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  font-size: 0.8em;
  margin-top: auto;
}

#html5 {
  align-self: center;
  margin-left: 5em;
}

#cssLogo {
  order: 1;
  align-self: center;
  margin-right: 5em;
}

/*  FORM SCRITTURA ARTICOLO  */
.form_articolo {
  width: 100%;
}

.form_articolo p {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.cont_art {
  margin-bottom: 1em;
}

.form_articolo textarea {
  resize: vertical;
  /*min-height: 15em;
  min-width: 99%;
  max-width: 99%;
  max-height: 90em;
  margin-top: 0.5em;*/
  margin-bottom: 2.3em;
  padding: 0.5em;
}

.cat_img {
  justify-content: space-between;
}

fieldset {
  padding: 1em;
  border: 1px solid #0d719d;
  border-radius: 5px;
}

.img_sel {
  max-height: 80px;
}

.img_sel > input {
  margin-top: 0.5em;
}

.cat_sel {
  align-items: flex-end;
}

legend {
  padding: 0 0.5em;
}

.element {
  margin-top: 0.2em;
}

.form_articolo > button {
  position: relative;
  top: -42px;
  width: 100px;
  height: 44px;
  border: 1px solid #0d719d;
  border-radius: 5px;
}

/*  FORM ADMIN  */
.alt_insert {
  margin-top: 1em;
}

.alt_insert input {
  width: 99%;
}

/*  CSS PAGINA CATEGORIE  */
.cat_page {
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.cat_page figure {
  position: relative;
  width: 100%;
  max-width: 480px;
}

.cat_page a {
  max-width: 30%;
  margin-bottom: 1em;
}

.cat_page figure > img {
  width: 100%;
  opacity: 0.9;
  border: solid 1px;
  margin-bottom: -7px;
}

.cat_page figcaption {
  position: absolute;
  bottom: 30%;
  left: 30%;
  right: 30%;
  background-color: white;
  opacity: 0.95;
  padding: 5% 0;
  border: solid 2px black;
  text-align: center;
  font-size: 1.6em;
}

.cat_page a:hover {
  background-color: blue;
}

/* GENERIC PAGE ARTICOLO PER MODIFICA*/
.upperPrint textarea {
  width: 90%;
  height: 10em;
  margin: auto;
}
.upperPrint label {
  margin: 1em;
}

.printArticolo > textarea {
  width: 90%;
  margin:auto;
  height: 25em;
}

.printArticolo > label {
  align-self: center;
}

/* GENERIC PAGE ARTICOLO*/
.printArticolo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upperPrint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px;
  padding: 0 3em 3em 3em;
  margin-top: 3em;
}

.upperPrint img {
  order: 2;
  width: 40%;
  margin-left: 2em;
}

.upperPrint h1 {
  text-align: left;
}

.printArticolo p {
  padding: 0 3em 1em 3em;
}

.info_art {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px;
  border-bottom: solid 1px;
  height: 40px;
  align-items: center;
}

.info_art #author {
  display: flex;
  width: 45%;
  justify-content: flex-start;
}

.info_art #get_cat {
  display: flex;
  width: 45%;
  justify-content: flex-end;
  font-weight: bold;
  color: #03bafc;
}

.info_art img{
  margin-left: 1em;
}

.info_art p {
  margin: 0 1em 0 1em;
}

.commentArea {
  justify-content: flex-start;
  margin: 1em 2.5em 1em 2.5em;
  padding: 0.5em 0.5em 0 0.5em;
  border: solid 0px;
  background-color: rgba(13, 113, 157, 0.3);
}

.commentArea #print_comm{
  justify-content: flex-start;
  margin-top: 1em;
  padding: 0.5em;
}

.commentArea #print_comm img{
  width: 48px;
  height: 48px;
  margin-right: 2em;
}

.commentArea form {
  margin-top: 1em;
  padding: 0.5em;
  justify-content: space-between;
}

.commentArea form img {
  width: 48px;
  height: 48px;
  margin-right: 2em;
}

.commentArea #print_comm p {
  padding: 0.5em;
  border: solid 0px;
  background-color: white;
  width: 90%;
}

.commentArea #post_comm{
  justify-content: flex-start;
}

.commentArea #post_comm img{
  margin-right: 2em;
}

.commentArea #insert_comment {
  padding: 0.5em;
  font-size: 1em;
  resize: none;
  width: 100%;
  margin-bottom: 0.5em;
}

.commentArea button {
  width: 90px;
  height: 30px;
}

.comm_container {
  width: 90%;
}

/*  LOGIN */
#wrapper_login{
  align-items: center;
  margin: 2em 0;
}

.box{
  flex: 0.25;
  min-width: 240px;
  width: 30%;
  padding: 3em;
  border: 3px solid #3d3d3d;
  text-align: center;
}

.box h1{
  color: black;
  font-weight: 500;
}

.box input[type="text"], .box input[type="password"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3d3d3d;
  padding: 14px 10px;
  width: 60%;
  outline: none;
  color: black;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
  width: 90%;
  border-color:#0d719d;
}

.box input[type="text"]:hover, .box input[type="password"]:hover{
  border-color:#0d719d;
}

.box input[type="submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #0d719d;
  padding: 14px 40px;
  outline: none;
  color: black;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover{
  background-color: #0d719d;
  color: #f2f2f2;
}

#log {
  border-bottom: none;
  padding-bottom: 0;
}

#reg {
  border-top: none;
  padding-top: 0;
}

#reg p {
  padding-top: 1em;
  border-top: solid 2px #0d719d;
}

/*  FILTER PAGE */
.home_content_filter .articoli {
  margin: 1em;
}

/* USER/ADMIN PAGE */
.row{
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2em;
}

.col{
  padding-top: 2em;
  margin: 1em;
}


.col ul{
  list-style: none;
}

.col img{
  max-width: 8em;
  max-height: 8em;
}

#pw_reset input{
  margin: 1em;
  padding: 0.5em;
}

/* REGISTER & USER PAGE */
.main-content {
  padding: 20px;
}

/* form specific formatting */
.form-group {
  margin-top: 2em;
}

.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}
.form-group label.right-inline {
  text-align: right;
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

.form_btn {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
}

.reg_form{
  padding: 1em;
}

.img_lg{
  -moz-box-shadow:    0 3px 5px 3px #ccc;
  -webkit-box-shadow: 0 3px 5px 3px #ccc;
  box-shadow:         0 3px 5px 3px #ccc;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1em; /* Place the button at the bottom of the page */
  right: 1em; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none;/* Remove borders */
  outline: none; /* Remove outline */
  color:#094863; /* Text color colore da cambiare*/
  cursor: pointer; /* Add a mouse pointer on hover */
}

#myBtn:hover {
  color: black; /* Add a dark-grey background on hover */
}

#votes{
  padding: 1em;
}

.fa-arrow-down{
  font-size: 30px;
  margin: 0 0.5em;
}

.fa-arrow-down:hover{
  color: blue;
}

.fa-arrow-up{
  font-size: 30px;
  margin: 0 0.5em;
}

.fa-arrow-up:hover{
  color: red;
}

#vote_num{
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  header {
    font-size: 0.88em;
  }

  #wrapper{
    padding: 0.5em;
  }

  .mob_buttons_wrapper{
    position: relative;
  }

  header form {
    display: none;
  }

  header a.search_link {
    display: block;
    width: 30px;
    text-align: center center;
  }

  #myBtn {
    width: 56px;
  }

  .resp_srch{
    display: block;
    position: relative;
    height: auto;
  }

  .resp_srch form{
    display: flex;
    width: auto;
    justify-content: space-between;
    border: solid 1px #0d719d;
    background: black;
  }

  .resp_srch #search_bar_mobile{
    width: 100%;
    padding-left: 1em;
    border: none;
  }

  .cat_page figcaption {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 768px){
  header {
    font-size: 1em;
  }

  #logo{
    max-width: 100px;
  }

  .wrapper {
    padding: 1em;
  }

  #logo{
    margin: 0;
  }

  .home_content .articoli {
    margin-right: 0;
  }

  article div {
    width: 100%;
  }

  article img {
    display: none;
  }

  aside{
    display: none;
    position: absolute;
  }

  header nav {
      display: none !important;
  }

  #user_desk {
    display: none;
  }

  #user_mob {
    display: block;
  }

  header a.txt_link{
    display: block;
    width: 30px;
    padding-left: 0.5em;
    text-align: center center;
  }

  #myBtn {
    width: 48px;
  }

  .user_cont{
    display: none;
    position: absolute;
  }

  .responsive{
      display: flex;
      width: 100%;
  }

  .responsive nav {
    display: flex;
    width: 100%;
    border: solid 1px #0d719d;
    border-top: none;
  }

  .responsive nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ededed;
    opacity: 0.98;
  }

  .responsive ul li{
    display: inline-block;
    padding: 1em 1em;
    transform: skew(0);
  }

  .responsive ul > li + li {
    border-top: solid 1px grey/*#0d719d*/;
  }

  .responsive li a {
    transform: skew(0);
  }

  .responsive #account_nav {
    text-align: left;
  }

  .responsive #menu_nav {
    text-align: right;
  }

  .responsive #currentLink {
    padding: 0;
  }

  .cat_page a {
    max-width: 45%;
  }

  .cat_page figcaption {
    font-size: 1.3em;
    padding: 2% 0;
    bottom: -3.5px;
    left:0;
    right: -1.5px;
  }

  .cat_img {
    /*display: flex;*/
    flex-direction: column;
  }

  .cat_sel{
    align-items: flex-start;
    margin-top: 1em;
  }

  .element {
    display: flex;
    flex-direction: row-reverse;
  }

  .main-content {
    padding: 20px 8px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group .input-control {
    margin-top: 2px;
  }

  .form-group label.right-inline {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
  }

  .img_lg{
    width: 30vw;
    height: 30vw;
  }

  a.search_link{
    padding-right: 0.5em !important;
    margin: 0;
  }

  .fa-arrow-down, .fa-arrow-up, #vote_num{
    font-size: 20px;
  }

  .box {
    padding: 2em;
  }

  footer{
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #html5{
    order: 1;
    margin: 1em 0 1em 1em;
  }

  #cssLogo {
    margin: 1em 1em 1em 0;
  }

  address{
    width: 100%;
  }
}
