body{
  margin: 1em;
}

/* Add a black background color to the top navigation */
nav {
  background-color: #2982F0;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.txt_link {
float: left;
color: #f2f2f2;
text-align: center;
padding: 3em 1em;
text-decoration: none;
font-size: 17px;
margin: 0px;
margin: 0 0.75em;
}

nav a:hover {
transform: scale(1.3);
transition: 0.2s;
}

/* Right-aligned section inside the top navigation */
#topnav-right {
float: right;
}

#topnav-left{
  float: left;
}

nav h3{
  color: #f2f2f2;
  padding: 2.6em 3.5em;
  text-align: center;
  margin: 0;
}

.user_img{
  max-width: 3em;
  max-height: 3em;
  margin: 2em;
}

#user_mob{
  display: none;
}

#topnav-right a.icon{
  display: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: auto 3.5em;
  text-decoration: none;
  font-size: 17px;
  margin: 0 0.75em 0 0.75em;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 880px) {
  .topnav a {
      display: none;
  }
  .topnav #user_desk {
    display: none;
  }
  #user_mob {
    display: block;
    float: left;
  }
  #topnav-left{
    margin: auto;
  }
  #topnav-right a.icon {
    float: right;
    display: block;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 880px) {
  .topnav.responsive {
      position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}