* {
  padding: 0em;
  margin: 0em;
}

html {
  background-image: url('img/bgimage.jpeg');
  background-color: white;
  width: 100%;
}

body{
  background-color: #f7f7f7;
  max-width: 1660px;
  width: auto;
  margin: auto;
}

/*HOME PAGE + HEADER E FOOTER*/
/* Add a black background color to the top navigation */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00b3b3;
  background-image: linear-gradient(to right, #bcf7f7, #00b3b3);
  overflow: hidden;
}

nav a:hover {
  transform: scale(1.3);
  transition: 0.2s;
}

/* Style the links inside the navigation bar */
.txt_link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3em 1em;
  text-decoration: none;
  font-size: 17px;
  margin: 0 0.75em;
}

/* Right-aligned section inside the top navigation */
#topnav-right {
  float: right;
}

#topnav-left{
  float: left;
}

#topnav-left img {
  position: relative;
  width: 60%;
}
nav h3{
  color: #f2f2f2;
  padding: 2.6em 3.5em;
  text-align: center;
  margin: 0;
}

.user_img{
  max-width: 3em;
  max-height: 3em;
  margin: 2em;
}

#user_mob{
  display: none;
}

#topnav-right a.icon{
  display: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: auto;
  text-decoration: none;
  font-size: 17px;
  margin: 0 0.75em;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1200px) {
  .topnav a {
      display: none;
  }
  .topnav #user_desk {
    display: none;
  }
  #user_mob {
    display: block;
    float: left;
  }
  #topnav-left{
    margin: auto;
  }
  #topnav-right a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1200px) {
  .topnav.responsive {
      position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h1 {
  text-align: center;
  margin: 1em 0 0 0;
  font-family: 'Eugenio Text',Georgia,Times,'Times New Roman',serif;
  font-size: 2em;
}

.home_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Eugenio Text',Georgia,Times,'Times New Roman',serif;
  font-size: 1.3em;
}

.articoli {
  margin: 1em;
  width: 1220px;
}

article {
  display: flex;
  background-color: white;
  /*border: solid 1px;*/
  border-radius: 12px;
  padding: 1em;
  margin-top: 1em;
  flex-direction: column;
}

article h3 {
  padding-bottom: 1em;
}

article img {
  width: 30%;
  position: relative;
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}

article a {
  width: inherit;
}

@media screen and (max-width: 1200px) {
  article img {
    width: 100%;
    float: none;
  }
}

aside {
  background-color: white;
  /*border: solid 1px;*/
  border-radius: 12px;
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
  width: 440px;
  min-height: 600px;
}


footer {
  background-color: #f2b28f;
  background-image: linear-gradient(to right, #fcd9c5, #f28649);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 1em;
  order: 2;
  padding: 1em;
  font-size: 0.8em;
}

#address {
  flex-grow: 5;
  flex-shrink: 2;
  margin: 2em;
}

#html5 {
  order: -1;
  align-self: center;
}

#cssLogo {
  order: 2;
  align-self: center;
}


/*  FORM SCRITTURA ARTICOLO  */
.form_articolo {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.form_articolo > h1 {
  margin-left: -.5em;
}

.form_articolo > p {
  font-size: 1.3em;
  margin-bottom: 2em;
}

.form_articolo > input {
  width: 99%;
  margin-top: 0.5em;
  margin-bottom: 2.3em;
}

.form_articolo > textarea {
  min-height: 15em;
  margin-top: 0.5em;
  margin-bottom: 2.3em;
}

.cat_img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_sel{
    display: flex;
    flex-direction: column;
}

.img_sel > input {
  margin-top: 0.5em;
}

.cat_sel{
    display: flex;
    flex-direction: column;
}

.cat_sel > select {
  margin-top: 0.5em;
}

.form_articolo > button {
  margin-top: 3em;
  width: 100px;
  height: 44px;
}



/*  CSS PAGINA CATEGORIE  */
.cat_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 2em;
  padding-right: 0em;
  padding-bottom: 0em;
}

.cat_page a {
  display: inline-block;
  padding-top: 6.53%;
  padding-bottom: 6.53%;
  width: 29.9%;
  font-size: 2em;
  font-weight: bolder;
  border: solid 1px;
  border-color: grey;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 1em;
  background-size: cover;
}

.cat_page #sport {
  background-image: url("img/sport_cat.jpeg");
}

.cat_page #politica {
  background-image: url("img/politics_cat.png")
}

.cat_page #covid {
  background-image: url("img/covid_cat.jpeg");
}

.cat_page #economia {
  background-image: url("img/economy_cat.jpeg");
}

.cat_page #spettacolo {
  background-image: url("img/spett_cat.jpeg");
}

.cat_page #gossip {
  background-image: url("img/gossip_cat.jpeg");
}

@media screen and (max-width: 1200px){
  .cat_page{
    padding: 1em;
  }
  .cat_page a {
    font-size: 1.2em;
    padding-top: 10%;
    padding-bottom: 9%;
    width: 45%;
    margin-right: 0em;
    min-width: 164px;
  }
}

/* GENERIC PAGE ARTICOLO*/
.printArticolo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upperPrint {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px;
  padding: 0 3em 3em 3em;
  margin-top: 3em;
}

.upperPrint img {
  order: 2;
  width: 40%;
  margin-left: 2em;
}

.upperPrint h1 {
  text-align: left;
}

.printArticolo p {
  padding: 0 3em 1em 3em;
}

.info_art {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: solid 1px;
  border-bottom: solid 1px;
  height: 40px;
  align-items: center;
}

.info_art #author {
  display: flex;
  width: 45%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.info_art #get_cat {
  display: flex;
  width: 45%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-weight: bold;
  color: #03bafc;
}

.info_art img{
  margin-left: 1em;
}

.info_art p {
  margin: 0 1em 0 1em;
}
